/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #47b8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.nama {
    color: #fff;
    font-size: 1.5em;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

/* Home Section */
#home {
    margin: 20px;
    padding: 10px;
}

.card {
    background-color: rgba(135, 162, 231, 0.402);
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card .content {
    display: flex;
    align-items: center;
}

.card .text {
    flex: 1;
    padding: 20px;
    font-size: 25px;
}

.profile-picture {
    width: 400px;
    max-width: 200px;
    height: auto;
    border-radius: 50px;
    padding: 30px;
    margin: 0 auto; /* Posisikan ke tengah secara horizontal */
    display: block; /* Untuk memastikan margin: 0 auto; berfungsi */
}

/* Footer */
footer {
    background-color: #47b8e8;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
    .navbar {
        padding: 10px;
    }

    .nama {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .nav-list li {
        margin-right: 10px;
    }

    .nav-list a {
        font-size: 1em;
    }

    #home {
        margin: 10px;
        padding: 5px;
    }

    .card {
        padding: 10px;
    }

    .profile-picture {
        margin-bottom: 10px;
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 25px;
    }

    .nama {
        font-size: 1.5em;
    }

    .nav-list li {
        margin-right: 15px;
    }

    .nav-list a {
        font-size: 1.2em;
    }

    #home {
        margin: 20px;
        padding: 10px;
    }

    .card {
        padding: 20px;
    }

    .profile-picture {
        padding: 30px;
    }

    footer {
        padding: 10px;
    }
}
